<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1 style="background-color:powderblue;">This is Ann's Tea</h1>
<p style="background-color:skyblue;">
<img src="Ann's tea.PNG" alt="Tea Cup" style="float:left;width:400px;height:400px;">

It all started in 2008 with one store on Queen St.,
Toronto, bonding with people over our passion for tea.<br>
<br>Fast-forward over a decade later,<br>
<br>we’ve connected with millions of tea lovers from coast to coast—online and IRL—through thousands
of signature blends.<br> <br>We’re still early on our journey,
and we hope you’ll tag along as we continue to push the boundaries
of what tea can be.<br> <br>Together, let’s bring more people into the wonderful world of tea, one cup at a time<br>.</p>
</body>
</html>